<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('homepage') }}">BP</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="pe-3">
					<a href="{{ path('homepage') }}" class="btn btn-sm btn-secondary m-1">Accueil</a>
				</li>					
				{% if app.user %}
					<li class="pe-3">
						<a href="{{ path('article') }}" class="btn btn-sm btn-primary m-1">Mes articles</a>
					</li>	
					<li class="pe-3">
						<a href="{{ path('article_create') }}" class="btn btn-sm btn-success m-1">Créer un article</a>
					</li>	
					{% if app.user.roles[0] == "ROLE_ADMIN" %}
						<li class="pe-3">
							<a href="{{ path('admin') }}" class="btn btn-sm btn-warning m-1">Admin</a>
						</li>	
					{% endif %}
				{% endif %}
								
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="pe-3">
						connecté : {{ app.user.email }}
					</li>
					<li class="nav-item">
						<a href="{{ path('app_logout') }}" class="btn btn-sm btn-danger">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="#" class="nav-link">Inscription</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_login') }}" class="btn btn-success">Login</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
