{% extends 'base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body %}
    <h1>Création d'un article</h1>

    {{ form_start(formView, {'attr': {'id': 'form_creation'}}) }}

    {# {{ form_widget(formView) }} #}

    {{ form_row(formView.title, {'id': 'form_title'}) }}
    {{ form_row(formView.content, {'id': 'form_content'}) }}
    
    {{ form_errors(formView) }}
         
        <button type="submit" class="btn btn-success">
            Créér l'article
        </button>
            
    {{ form_end(formView) }}
{% endblock %}
