{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center">Accueil Bonnes pratiques</h1>
    <img class="img-thumbnail" src="{{ asset('images/green.jpg') }}" alt="green">

    <h2 class="text-center">Les articles</h2>
    {% for article in articles %}
        <div class="border border-primary m-2 p-2">
            <h3>{{ article.title }}</h3>
            <p>{{ article.content }}</p>
            <em>édité le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H') }}h</em>
            <p>par {{ article.user.fullName }}</p>
            <a class="btn btn-sm btn-primary" href="{{ path('article_show', {'id': article.id}) }}">Voir</a>
        </div>
    {% endfor %}
{% endblock %}
